<div>
    <div>
        <h1>Paises page</h1>
    </div>
    <div>
        <div>
            <h3>Buscar un país</h3>
        </div>
        <div>
            <input [(ngModel)]= "paisBuscar"type="text" placeholder="Introduzca un pais">
        </div>
        <div>
            <button (click)="getPaisesWithFetch(paisBuscar)"> Buscar pais </button>
        </div>

        Informacion del pais 
        <H2> pais:{{ paisRecibido.name.common}}</H2>
        <h3>Capital</h3>
        <img [src]="paisRecibido.flags.png" alt="bandera">
    </div>
</div>