.js-wrapper {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.git-wrapper{
    margin-top: 1000px;
    
}    




.js-title {
    text-align: center;
    font-size: 1.8rem;
    color: #f39c12;
    margin-bottom: 15px;
}

.section-wrapper {
    margin-bottom: 20px;
}

.section-title {
    font-size: 1.4rem;
    color: #2980b9;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.item-list {
    background: white;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out;
}

.item-list:hover {
    background: #e9ecef;
}

p {
    color: #6c757d;
    margin: 5px 0 0 0;
    font-size: 1rem;
}
